.container#cliente

    .header-ecored
        h1 1. Servicio al cliente
    
    .embed-responsive.embed-responsive-16by9.br6
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/agUOW9EFonk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    br#triangulo

    .header-ecored
        h2 1.1 Triángulo de servicio

    .jumbotron.bg-white
        img.img-fluid.mb-4.img-a1(src="assets/images/pages/img1.svg", style="max-width: 100%")
        p Fuente: Albrecht, Karl (2001 pág. 384). García, A. (2016). Cultura de servicio en la optimización del servicio al cliente. Telas, 18(3), 381-398.
        .quote.my-2
            .quote__bar   
                .quote__bar__icon
                    img(src="assets/images/icons/quote_01.svg")
                .quote__bar__hr
            .quote__text
                p.mb-2 Permite concebir el servicio como un todo, que se encadena y que actúa alrededor del cliente, con relaciones entre la estrategia, la gente y el sistema.
                p.text-right.mb-0 #[i Restrepo, C. E., Ferro, L. S. R., &#38; Mejía, S. E., 2006.]
            .quote__bar 
                    .quote__bar__hr
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg")                            
        table.mb-4
            thead
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img2.svg", style="max-width: 100%")
                    td
                        p.bg-t1 #[b Cliente:] el centro del esquema.
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img3.svg", style="max-width: 100%")
                    td
                        p.bg-t1 #[b Estrategia:] eslabón de compromisos que incluye a todo el grupo de responsables de una organización, desde el líder administrativo hasta el operario de menor rango; para la satisfacción del cliente.
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img4.svg", style="max-width: 100%")
                    td
                        p.bg-t1 #[b Gente:] Cada empleado debe conocer sus manuales de funciones, los cuales van dirigidos a su juramento de servicio.
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img5.svg", style="max-width: 100%")
                    td
                        p.bg-t1 #[b Sistema:] materiales varios para la asesoría, normatividades en el tratamiento interno y externo del personal, incluyendo al cliente, reciprocidad tanto individual como grupal en manejos de inconvenientes y mediaciones en desacuerdos, todo con un enfoque humano que beneficie al cliente.
        .row.bg-t2
            .col-md-auto.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/img6.svg", style="max-width: 100%")
            .col.m-auto
                p El triángulo del servicio nos ayuda a entender el rol de la asistencia que prestamos a un cliente, desde tres pilares; La estrategia del servicio, los sistemas y la gente.

    br#ciclo

    .header-ecored
        h2 1.2 Ciclo del servicio

    .card
        img.card-img-top(src="assets/images/pages/img1.png")
        .card-body
            .row
                .col-md-auto.col-12.m-auto
                    img.img-fluid.img-a1(src="assets/images/pages/img7.svg", style="max-width: 100%")
                .col.m-auto
                    .quote.my-3
                        .quote__bar   
                            .quote__bar__icon
                                img(src="assets/images/icons/quote_01.svg")
                            .quote__bar__hr
                        .quote__text
                            p.mb-2 Un ciclo de servicio es el conjunto de momentos de verdad que tiene un cliente cuando se pone en contacto con nuestra empresa.
                            p.mb-2 Los ciclos de servicio permiten visualizar de forma gráfica todos los momentos de verdad, organizarlos en forma lógica desde el punto de vista del cliente y detectar oportunidades de mejora.
                            p.text-right.mb-0 #[i De Bogotá, C. D. C., &#38; Emprende, B. (2010). Servicio al cliente. Servicio al cliente. ¿Estás preparado cuando el servicio falla? (P 8).]                       
                        .quote__bar 
                                .quote__bar__hr
                                .quote__bar__icon
                                    img(src="assets/images/icons/quote_02.svg")
            .row
                .col-md-auto.col-12.m-auto
                    img.img-fluid.img-a1(src="assets/images/pages/img8.svg", style="max-width: 100%")
                .col.m-auto
                    .quote.my-3
                        .quote__bar   
                            .quote__bar__icon
                                img(src="assets/images/icons/quote_01.svg")
                            .quote__bar__hr
                        .quote__text
                            p.mb-2 Albrecht y Zemke (1998) y Rueda (2009), coincidieron al definir los ciclos de servicio como una sucesión completa de contactos que experimenta un cliente para satisfacer las necesidades demandadas. Se inicia en el cliente con la concreción de necesidades plasmadas en un pedido y que otro está dispuesto a proveer. Este suceso continúa con una serie de contacto hasta que el cliente cierra el ciclo, esto sí el cliente queda satisfecho con el resultado y está dispuesto a regresar y demandar nuevamente el servicio. Es importante enfatizar que el concepto de ciclo de servicio está relacionado con el conjunto de momentos de verdad y estos dos componentes son de gran ayuda para que los proveedores del servicio cambien su punto de vista y vean las cosas como las ven los clientes, de esta forma se pueden detectar áreas de oportunidad que permitan mejorar el servicio.
                            p.text-right.mb-0 #[i Miranda, et, al. 2018, pág. 32.]
                        .quote__bar 
                                .quote__bar__hr
                                .quote__bar__icon
                                    img(src="assets/images/icons/quote_02.svg")
            img.img-fluid.img-ngt(src="assets/images/pages/img9.svg", style="max-width: 50%")
            p.bg-t3 El periodo transicional dentro de la experiencia en tiempo real que experimenta un cliente al hacer contacto con nuestra organización y el acompañamiento efectivo que hacemos hasta que él cierra el ciclo, facilita descifrar los esquemas tácticos de estrategias, que planificamos desde la perspectiva del cliente y transformamos en fortalezas, las debilidades que encontramos.

    .jumbotron.bg-white
        .sub-line
            h3 Tipos de servicio
        img.img-fluid.mb-4(src="assets/images/pages/img10.svg", style="max-width: 100%")
        .quote.my-2
            .quote__bar   
                .quote__bar__icon
                    img(src="assets/images/icons/quote_01.svg")
                .quote__bar__hr
            .quote__text
                p.mb-2 A continuación se describen los tipos de atención al cliente que se han identificado y las diferentes percepciones que puede causar sobre el cliente.
                p.text-right.mb-0 #[i Urriago, 2012. Pág. 86]
            .quote__bar 
                    .quote__bar__hr
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg")

    .card
        img.card-img-top(src="assets/images/pages/img2.png")
        .card-body
            h3 El congelador
            .quote.my-2
                .quote__bar   
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_01.svg")
                    .quote__bar__hr
                .quote__text
                    p.mb-2 Refleja una operación que es baja en las dos dimensiones, este acercamiento congelado al cliente, le transmite el mensaje “usted no me importa”. Donde la dimensión de procedimiento se caracteriza por ser lenta, inconsistente, desorganizada, caótica e inconveniente. Y la personal por ser, insensible, frío, impersonal, apático, reservado y desinteresado.
                    p.text-right.mb-0 #[i Urriago, 2012, pág. 86]
                .quote__bar 
                        .quote__bar__hr
                        .quote__bar__icon
                            img(src="assets/images/icons/quote_02.svg")
            p Se conocen algunos casos de atención al cliente que estimulan muchas impresiones en este.
            P La baja interacción, ocasionada por un desinterés del recepcionista ante la apremiada necesidad del usuario en primera instancia, paraliza la relación cliente - organización, la que estará determinada por debilidades administrativas, comunicación confusa, incoherencias operativas y el coeficiente humano impasible, parsimonioso e indiferente.

    .card
        img.card-img-top(src="assets/images/pages/img3.png")
        .card-body
            h3 La fábrica
            .quote.my-2
                .quote__bar   
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_01.svg")
                    .quote__bar__hr
                .quote__text
                    p.mb-2 Refleja un servicio de procedimiento eficiente, pero un débil servicio personal. Es un acercamiento “mecánico”, el servicio le da a entender al cliente “usted es un número y estamos aquí para procesarlo”. Donde la dimensión de procedimiento se caracteriza por ser puntual, eficiente y uniforme. Y la personal por ser, insensible, apática, reservada y desinteresada.
                    p.text-right.mb-0 #[i Urriago, 2012, pág. 87]
                .quote__bar 
                        .quote__bar__hr
                        .quote__bar__icon
                            img(src="assets/images/icons/quote_02.svg")
            p La organización es conocida ampliamente por tener un prestigio y una excelente imagen, aunque con un respaldo personal incompatible en cuanto atención al cliente. El contacto personal es impensado, calculado y rígido, casi robotizado, contrario a lo promovido por la organización; un trato humano, preciso, enérgico y equilibrado.

    .card
        img.card-img-top(src="assets/images/pages/img4.png")
        .card-body
            h3 El zoológico amistoso
            .quote.my-2
                .quote__bar   
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_01.svg")
                    .quote__bar__hr
                .quote__text
                    p.mb-2 Es un servicio muy personal, pero le falta consistencia en el procedimiento. El mensaje que se le transmite al cliente es el de “nos esforzamos mucho, pero no sabemos lo que hacemos”. Donde el procedimiento se caracteriza por ser lento, inconsistente, desorganizado y caótico. Y la persona por ser amistoso, interesado y gracioso.
                    p.text-right.mb-0 #[i Urriago, 2012, pág. 87]
                .quote__bar 
                        .quote__bar__hr
                        .quote__bar__icon
                            img(src="assets/images/icons/quote_02.svg")
            p La informalidad en la prestación del servicio desconcierta al cliente, quien no determina la identidad de la organización y por lo tanto no la categoriza, su principal característica es la parsimonia, la incoherencia, el desorden y la confusión, y su factor humano informal, apegado, fascinado y desubicado.
    
    .jumbotron.bg-white
        .sub-line
            h3 Características del servicio
        p Según García (2016) “Existen aspectos inherentes a los servicios, que les atribuye una naturaleza propia y los hace diferentes a los productos. Estas características, son del mismo modo propias del servicio al cliente y algunas se describen a continuación”.
        #carouselIndicators.carousel.slide.bg-sld-t2(data-interval="false")
            ol.carousel-indicators
                li.active(data-target='#carouselIndicators' data-slide-to='0')
                li(data-target='#carouselIndicators' data-slide-to='1')
                li(data-target='#carouselIndicators' data-slide-to='2')
            .carousel-inner.m-sld
                .carousel-item.active
                    .row
                        .col-md-auto.col-12.m-auto
                            img.img-fluid.img-a(src="assets/images/pages/img11.svg", style="max-width: 100%")
                        .col.m-auto
                            .quote.my-3
                                .quote__bar   
                                    .quote__bar__icon
                                        img(src="assets/images/icons/quote_01.svg")
                                    .quote__bar__hr
                                .quote__text
                                    p.mb-2 Según los autores Zeithaml y Bitner (2002), representa la diferencia más destacada entre los productos y los servicios, pues estos no son bienes físicos materiales, palpables, posibles de verse o degustarse, ventaja con la que cuentan los productos tangibles. Por esa razón, los servicios no pueden ser experimentados antes de su utilización. En algunas ocasiones, se presta a través de un bien físico, como las libretas de ahorro, chequeras y otros productos de los bancos, por citar un ejemplo. Los mismos constituyen el elemento tangible del servicio.
                                    p.text-right.mb-0 #[i García, A., 2016, Pág. 3867]
                                .quote__bar 
                                        .quote__bar__hr
                                        .quote__bar__icon
                                            img(src="assets/images/icons/quote_02.svg")
                    p Las propiedades inéditas de los servicios son inseparables a su esencia. Lo impalpable de los servicios le da una característica diferente a los productos, los cuales se pueden palpar de manera física, saborear, observar o detallar. El servicio es intangible, aunque verificable, si presenta previamente productos palpables como las garantías escritas de productos adquiridos por el cliente.
                .carousel-item
                    p.my-3 El trabajo en equipo con un mismo compromiso en el servicio origina un efecto final en la entrega unificada del producto al cliente. La coherencia operativa interna produce resultados positivos en consecución de metas que hablan de la armonía general en la organización.
                    .row
                        .col-md-auto.col-12.m-auto
                            img.img-fluid.img-a(src="assets/images/pages/img12.svg", style="max-width: 100%")
                        .col.m-auto
                            .quote.my-3
                                .quote__bar   
                                    .quote__bar__icon
                                        img(src="assets/images/icons/quote_01.svg")
                                    .quote__bar__hr
                                .quote__text
                                    p.mb-1 Todos los integrantes de la organización tienen una cuota de responsabilidad en la producción del servicio, pues cada uno interviene en el resultado final que se entrega al cliente, según Serna (1999). Es por este motivo que resulta muy importante la armonía en los procesos de la empresa de un área a otra, la comunicación interna, el cumplimiento de los tiempos establecidos en la cadena general de la organización.
                                    p.text-right.mb-0 #[i García, A., 2016, Pág. 386]
                                .quote__bar 
                                        .quote__bar__hr
                                        .quote__bar__icon
                                            img(src="assets/images/icons/quote_02.svg")
                .carousel-item
                    .row
                        .col-md-auto.col-12.m-auto
                            img.img-fluid.img-a(src="assets/images/pages/img13.svg", style="max-width: 100%")
                        .col.m-auto
                            p.my-3 Con base en este aspecto, el servicio no es prestado siempre del mismo modo, pues depende del recurso humano, conformado por un grupo de individuos diferentes entre sí, influenciados por su propia naturaleza, con el ánimo cambiante en cualquier momento. En ocasiones, el cliente asocia el servicio directamente con el empleado.
                            p Por otro lado, cada cliente es diferente, experimentando el servicio en base a su personalidad haciendo que varíe, y aunque puede ser similar, nunca resultará exactamente igual.
            .cont-btn
                a.carousel-control-prev(href='#carouselIndicators' role='button' data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Atras
                a.carousel-control-next(href='#carouselIndicators' role='button' data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Siguiente
        .quote.my-4
            .quote__bar   
                .quote__bar__icon
                    img(src="assets/images/icons/quote_01.svg")
                .quote__bar__hr
            .quote__text
                p.mb-2 Desde el punto de vista del mercadeo de servicios, la falta de homogeneidad impide garantizar de forma permanente la calidad de este. Existen otros factores externos, como son la inexactitud de los clientes para comunicar sus requerimientos, la insatisfacción del personal, entre otros.
                p.text-right.mb-0 #[i García, 2016. Pág, 386]
            .quote__bar 
                    .quote__bar__hr
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg")
    
    .card
        .p-relative
            img.card-img-top(src="assets/images/pages/img5.png")
            .row.prbg-t1
                .d-none.d-md-block
                    img.img-fluid.img-a(src="assets/images/pages/img14.svg", style="max-width: 100%")
                .col.m-auto
                    p.m-3.text-center #[b El triángulo del servicio nos ayuda a entender el rol de la asistencia que prestamos a un cliente, desde tres pilares; La estrategia del servicio, los sistemas y la gente.]
        .card-body
            .row
                .col-md-4.col-12.m-auto
                    img.img-fluid.img-a1(src="assets/images/pages/img15.svg", style="max-width: 100%")
                .col.m-auto
                    p.my-4 #[b Producción y consumo simultáneos.] Simultáneamente a su elaboración los productos son consumidos y generan una definición inmediata del servicio por parte de un grupo de clientes presentes.
                    p Esto eleva la responsabilidad de la organización en su planta productora. Los inconvenientes podrían resultar al intentar producir al por mayor, con el riesgo de cambiar detalles sugeridos por el cliente al incluir su propuesta en la producción y quien al detallar el producto finalizado se reflejaría como usuario inconforme.
            p.mt-4 Los servicios se venden y luego son prestados en la misma medida en que son consumidos. De este modo, la exploración y degustación se realizan en el momento de su consumo. Esto ocasiona que el usuario se encuentre presente al momento de producir el servicio, así como otros clientes con los cuales intercambia opiniones. Es allí cuando el personal de la empresa debe tomar conciencia de su papel como productor del servicio.
            .quote.mt-4
                .quote__bar   
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_01.svg")
                    .quote__bar__hr
                .quote__text
                    p.mb-1 Con respecto a esta característica, en cuanto al mercadeo de servicios, se observan tres limitaciones: en primer lugar, se presenta dificultad para generarlos de forma masiva; en segundo término, su calidad depende de la manera como se desarrolla en el momento delante del cliente, quien tiende a involucrarse, de forma positiva o negativa, generando en algunos casos usuarios difíciles. Además, para Serna (1999), el servicio es un proceso donde el proveedor también es parte de su producción y, por lo tanto, no se puede desligar de él.
                    p.text-right.mb-0 #[i García, A., 2016. Pag, 387]
                .quote__bar 
                        .quote__bar__hr
                        .quote__bar__icon
                            img(src="assets/images/icons/quote_02.svg")
    
    br#momentos

    .header-ecored
        h2 1.3 Momentos de verdad

    .embed-responsive.embed-responsive-16by9.br6
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/agUOW9EFonk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    br#habilidad

    .header-ecored
        h2 1.4 Habilidad del Servicio

    .jumbotron.bg-white
        .row
            .col-md-auto.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/img16.svg", style="max-width: 100%")
            .col.m-auto
                p Todos poseemos de cierta forma un sinnúmero de habilidades, no obstante, estas las utilizamos de acuerdo con cada situación y más cuando es necesario interactuar con otras personas sea de manera directa y continua. 
                .quote.my-4
                    .quote__bar   
                        .quote__bar__icon
                            img(src="assets/images/icons/quote_01.svg")
                        .quote__bar__hr
                    .quote__text
                        p.mb-1 Goleman postula que las competencias emocionales, son dos veces más importantes que las ligadas al coeficiente intelectual y a la experiencia (1998, Pag 43). Esta afirmación, que resulta aplicable en el contexto empresarial, ha motivado la discusión sobre habilidades blandas.
                        p.text-right.mb-0 #[i Granda, 2018. Pág. 10]
                    .quote__bar 
                            .quote__bar__hr
                            .quote__bar__icon
                                img(src="assets/images/icons/quote_02.svg")
        p La organización debe explorar en su equipo humano las habilidades emocionales y excepcionales que facilitan su relación con los demás individuos; ya sean de carácter interno o externo (cliente). Colocarlas en práctica, como al momento de escuchar con atención y entender a cada uno de nuestros clientes, ser claros y precisos en la comunicación.
        .quote.my-4
            .quote__bar   
                .quote__bar__icon
                    img(src="assets/images/icons/quote_01.svg")
                .quote__bar__hr
            .quote__text
                p.mb-1 Las habilidades blandas, se refieren a la capacidad de una persona de relacionarse con otros y consigo mismo, comprender y manejar las emociones, establecer y lograr objetivos, tomar decisiones autónomas y confrontar situaciones adversas de forma creativa y constructiva; en otras palabras, son actitudes y prácticas que afectan y determinan cómo un individuo enfoca el aprendizaje e interactúa con el mundo que le rodea.
                p.text-right.mb-0 #[i Goodsped Ortega 2016, 16]
            .quote__bar 
                    .quote__bar__hr
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg")
        .bg-t2.mb-4
            h3.pt-4 La empatía
            .row
                .col-md-auto.col-12.m-auto
                    img.img-fluid.img-a(src="assets/images/pages/img17.svg", style="max-width: 100%")
                .col.m-auto
                    .quote.my-4
                        .quote__bar   
                            .quote__bar__icon
                                img(src="assets/images/icons/quote_01.svg")
                            .quote__bar__hr
                        .quote__text
                            p.mb-1 La competencia de empatía proporciona a las personas conciencia de las emociones, preocupaciones y necesidades de los demás. La empatía permite leer corrientes emocionales. Esta sensibilidad enfocada hacia los demás resulta crítica para el desempeño laboral cuando se concentra en la relación con la gente.
                            p.text-right.mb-0 #[i Granda, 2018. Pág. 11]
                        .quote__bar 
                                .quote__bar__hr
                                .quote__bar__icon
                                    img(src="assets/images/icons/quote_02.svg")
        .bg-t2
            h3.pt-4 Ventaja competitiva
            .row
                .col-md-auto.col-12.m-auto
                    img.img-fluid.img-a(src="assets/images/pages/img18.svg", style="max-width: 100%")
                .col.m-auto
                    .quote.my-4
                        .quote__bar   
                            .quote__bar__icon
                                img(src="assets/images/icons/quote_01.svg")
                            .quote__bar__hr
                        .quote__text
                            p.mb-1 Michel Porter expone que para obtener el liderazgo competitivo las organizaciones tienen que ser poseedoras de una ventaja competitiva, la que podría estar definida mediante un producto o servicio con un costo inferior, o a su vez un producto o servicio diferente de tal forma que el consumidor pagaría por el un precio superior.
                            p.text-right.mb-0 #[i Granda, 2018. Pág. 18]
                        .quote__bar 
                                .quote__bar__hr
                                .quote__bar__icon
                                    img(src="assets/images/icons/quote_02.svg")